
_<h3>✅ Test Result 2024-9-2, 2:35 PM UTC+3</h3>

<h3> Project Version: v1.2.0-r </h3>


<table>
<p><strong>Git:</strong> <code>https://github.com/SOLIDusr/requesto-py</code></p>

<tr>
  <th>&nbsp;</th>
  <th>Total</th>
  <th>Passed</th>
  <th>Failed</th>
  <th>Duration</th>
</tr>
<tr>
  <td>✅</td>
  <td>12(24)</td>
  <td>12(24)</td>
  <td>0</td>
  <td>0s 121ms</td>
</tr>
</table>

### Testing OS: Windows 10 / Linux Mint 21.2 Victoria <br>
### Python version: ^3.10.* <br>
### Psycopg2_binary-2.9.9
### pytest-7.4.3 <br> 
### pluggy-1.3.0 <br>

`class Database` **test passed** <br>
`class Connection` **test passed** <br>
`class Table` **test passed** <br>
`method fetchOne` **test passed** <br>
`method fetchMany` **test passed** <br>
`method fetchAll` **test passed** <br>
`method insert` **test passed** <br>
`method update` **test passed** <br>
`method _getTables` **test passed** <br>
`method _getColumns` **test passed** <br>

